services:
  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: wink
      POSTGRES_PASSWORD: wink
      POSTGRES_DB: winkdb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    restart: unless-stopped
    env_file: .env
    environment:
      - SPRING_DATASOURCE_URL=${SPRING_DATASOURCE_URL}
      - SPRING_DATASOURCE_USERNAME=${SPRING_DATASOURCE_USERNAME}
      - SPRING_DATASOURCE_PASSWORD=${SPRING_DATASOURCE_PASSWORD}
      - AI_PARSER_BASE_URL=${AI_PARSER_BASE_URL}
      - AI_SERVICE_URL=${AI_SERVICE_URL}
      - APP_STORAGE_UPLOAD_DIR=${APP_STORAGE_UPLOAD_DIR}
      - AI_PARSER_URL=${AI_PARSER_URL}
      - PROMPT_COMPILER_URL=${PROMPT_COMPILER_URL}

      - OLLAMA_BASE_URL=${OLLAMA_BASE_URL}
      - OLLAMA_API_KEY=${OLLAMA_API_KEY}
      - OLLAMA_MODEL=${OLLAMA_MODEL}
      
    depends_on:
      - db
      - ai
      - prompt-compiler
    ports:
      - "8080:8080"
    volumes:
      - ./data/uploads:/data/uploads

  ai:
    build: ./ai-modules
    restart: unless-stopped
    ports:
      - "8000:8000"

  prompt-compiler:
    build: ./prompt-compiler
    restart: unless-stopped
    ports:
      - "8010:8010"

volumes:
  db_data:
