spring:
  application:
    name: wink-ai-previz
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB
  jpa:
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
    hibernate:
      ddl-auto: validate
    open-in-view: false
    show-sql: false
  flyway:
    enabled: true
  threads:
    virtual:
      enabled: true

springdoc:
  override-with-generic-response: false

app:
  storage:
    upload-dir: ${APP_STORAGE_UPLOAD_DIR:./data/uploads}
  parser:
    threshold: 3
    use-stub: false
    max-chars-per-chunk: 4000
    max-chunks: 100

ai:
  parser:
    url: ${AI_PARSER_URL:http://ai:8000/parse}
  generate:
    url: ${AI_GENERATE_URL:http://ai:8000/generate}

ollama:
  base-url: https://ollama.aiesa.ru
  api-key: sk_1OrodYGKFwbLo5jTadTuDQ2ZW66U00Fsp4kaDCsbB
  model: qwen3:32b

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always


